body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: "Exo 2";
  min-height: 100vh;
  // min-height: 100vh;

  .Navbar {
    .NavbarContent {
      user-select: none;
      display: flex;
      // align-items: flex-end;
      height: 5rem;

      .navLink {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 4rem;

        .navbarText {
          font-size: 1em;
          font-weight: bold;
          margin: 0;
          display: none;
        }
      }

      .navLink.logo {
        display: flex;
        // align-items: flex-start;
        // justify-content: center;
        width: 3rem;
        height: 3rem;
        // max
        align-self: flex-end;
        margin: 0 auto 1rem 1rem;
        .valorantGuidesLogo {
          width: 100%;
        }
      }

      .navLink.agents {
        width: 4rem;
        // max-width: 70px;
        align-self: flex-end;
        border-radius: 0.5rem 0.5rem 0 0;
        // transition: background-color 200ms ease-out;
        // animation: baka 200ms ease-out;

        // @keyframes baka {
        //   from {
        //     // opacity: 0;
        //     backgrou: translateY(-10%);
        //   }
        //   to {
        //     // opacity: 1;
        //     transform: translateY(0);
        //   }
        // }
        .agentsIcon {
          width: 50%;
        }
      }
      .navLink.weapons {
        width: 4rem;
        align-self: flex-end;
        border-radius: 0.5rem 0.5rem 0 0;
        // transition: background-color 200ms ease-out;
        .weaponsIcon {
          width: 35%;
        }
      }
      .navLink.guides {
        width: 4rem;
        align-self: flex-end;
        border-radius: 0.5rem 0.5rem 0 0;
        // transition: background-color 200ms ease-out;
        .guidesIcon {
          width: 50%;
        }
      }
      .fas.fa-search {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        // line-height: 1em;
        // text-align: center;
        font-size: 1.5rem;
        width: 4rem;
        height: 4rem;
      }
    }
  }

  .SearchPopup {
    z-index: 100;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    // align-items: ;
    margin: 0 0 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    .fas.fa-times {
      cursor: pointer;
      display: flex;
      color: white;
      font-size: 1.5rem;
      align-items: center;
      // padding: 1rem;
      width: 4rem;
      height: 4rem;
      // height: 1;
      margin-left: auto;
      justify-content: center;
    }

    .SearchPopupContent {
      background-color: rgba(255, 255, 255, 1);
      width: 90%;
      max-width: 40rem;
      height: 100%;
      max-height: 30rem;
      display: flex;
      flex-direction: column;
      border-radius: 0.5rem;
      margin: 0 0 auto 0;
      transition: opacity 200ms ease-out, transform 200ms ease-out;

      .searchBox {
        margin: 1rem 1rem 1rem 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        border-radius: 0.3rem;
        outline: none;
        // border: 0.1rem solid rgba(0, 0, 0, 0.5);
        border: none;
        background-color: rgba(0, 0, 0, 0.05);

        // border-radius: 3px;
        // background-color: rgba(255, 255, 255, 0.5);
        // border: none;
        // border: 1px solid black;
        font-family: "Exo 2";
      }

      .allDataFiltered {
        display: flex;
        flex-direction: column;
        // background-color: red;
        // overflow-y: scroll;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0 1rem 1rem 1rem;

        .emptyDataText {
          text-align: center;
          animation: fadeInEmptyDataText 200ms ease-out;

          @keyframes fadeInEmptyDataText {
            from {
              opacity: 0;
              transform: translateY(-70%);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }

        .term {
          display: flex;
          flex-direction: row;
          // background: red;
          padding: 1rem 1rem 1rem 0.5rem;
          color: rgb(0, 0, 0);
          text-decoration: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          animation: fadeInTerm 200ms ease-out;

          @keyframes fadeInTerm {
            from {
              opacity: 0;
              transform: translateX(5%);
            }
            to {
              opacity: 1;
              transform: translateX(0);
            }
          }

          .termContent {
            margin: 0;
            font-family: "Exo 2";

            &.bold {
              margin: 0 0.02rem 0 0.02rem;
            }
          }
        }

        // .term:last-child {
        //   border-bottom: none;
        // }
      }
    }
  }

  .Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: calc(100vh - 150px);

    .HomeTitle {
      font-size: 2em;
      margin: 2em 0 1em 0;
      // margin: 0 0 1em 0;
    }

    .HomepageImage {
      user-select: none;
      width: 100vw;
      max-width: 80rem;
    }

    // .Slider {
    //   max-height: 60vh;
    //   width: auto;
    //   max-width: 100vw;
    //   display: flex;

    //   .HomepageImage {
    //     max-height: 60vh;
    //     width: auto;
    //     max-width: 100vw;
    //     margin: auto;
    //   }
    // }
  }

  .Agents {
    overflow: hidden;
    background-color: #29abe2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    flex: 1;
    // min-height: calc(100vh - 120px);

    .GeneralSidebar.Agents {
      user-select: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      min-height: 0;
      margin: 0 auto 0 auto;
      align-content: flex-start;

      .agentLinkSidebar {
        width: 4rem;
        height: 4rem;
        margin: 0.5rem;
        text-decoration: none;
        display: flex;

        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
        // animation: baka2 3000ms ease-out;

        // @keyframes baka2 {
        //   from {
        //     // opacity: 0;
        //     transform: rotateY(45deg);
        //   }
        //   to {
        //     // opacity: 1;
        //     transform: rotateY(0);
        //   }
        // }

        .agentImageSidebar {
          display: block;
          //Gets rid of the tiny gap on he bottom between a div and the image inside it
          width: 100%;
          border-radius: 0.5rem;
        }
      }
    }

    .Agent {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 50rem;
      // animation: fadeInAgent 200ms ease-out;

      // @keyframes fadeInAgent {
      //   from {
      //     // opacity: 0;
      //     transform: translateY(-10%);
      //   }
      //   to {
      //     // opacity: 1;
      //     transform: translateY(0);
      //   }
      // }

      .agentNameWithImage {
        display: flex;
        flex-direction: column;

        .AgentName {
          font-size: 3rem;
          margin: 0 0 -1rem 0;
          text-align: center;
          font-family: "Permanent Marker", cursive;
          // display: flex;
          height: 80%;
          z-index: 2;
          text-shadow: 0px 0px 0.3rem rgba(255, 255, 255, 1);
        }

        .AgentImage {
          user-select: none;
          width: 100%;
          align-self: flex-end;
          // width: 100vw;
          // align-self: flex-end;
          // animation: fadeInAgentImage 2s ease-in;

          // @keyframes fadeInAgentImage {
          //   0% {
          //     opacity: 50%;
          //   }
          //   100% {
          //     opacity: 100%;
          //   }
          // }
        }
      }

      .allAgentAbilityContent {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        align-self: center;
        width: 100%;
        border-radius: 0.5rem;
        .AbilitiesTitle {
          font-size: 2em;
          text-align: center;
          margin: 1rem 0 2rem 0;
        }
        .agentAbilities {
          user-select: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          .agentAbilityIcons {
            // width: 25%;
            display: flex;
            flex-direction: column;
            margin: 0.5rem;
            // height: 100px;
            // justify-content: flex-end;
            // align-items: center;
            // padding: 0.5rem;

            .agentAbilityNamePreview {
              font-size: 0.7em;
              // margin: 0;
              text-align: center;
              margin: 0 0 auto 0;
              display: none;
            }
            .agentAbilityLink {
              .agentAbilityImage {
                display: block;
                //Gets rid of the tiny gap on he bottom between a div and the image inside it
                width: 2rem;
                height: 2rem;
                padding: 1rem;
                border-radius: 0.5rem;
                box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
              }
            }
            .abilityContentCharges {
              width: 4rem;
              margin: 0.5rem 0 0 0;
              // background-color: white;
              // border: 1px solid white;
              // box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
            }
          }
        }
        .agentAbilityContent {
          display: flex;
          flex-direction: column;
          height: 100%;

          .abilityContentName {
            font-size: 2rem;
            margin: 2rem 1rem 1rem 1rem;
            // padding: 10px 10px 0 10px;
          }
          .abilityContentDescription {
            font-size: 1em;
            margin: 0 1rem 1rem 1rem;
            height: 100%;
            // padding: 10px;
          }
          .abilityContentCost {
            margin: 0 0 1rem 1rem;
            display: flex;
            flex-direction: row;
            height: 100%;
            // margin-top: auto;
            // justify-self: flex-end;

            .creditsIcon {
              user-select: none;
              width: 0.7rem;
              margin: 0 0.5rem 0 0;
            }

            .abilityContentCostText {
              font-size: 1rem;
              margin: 0;
              line-height: 1rem;
            }
          }
        }
      }
    }
  }

  .Weapons {
    background-color: #ff6633;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    // min-height: calc(100vh - 120px);

    .GeneralSidebar.Weapons {
      user-select: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
      min-height: 0;
      margin: 0 auto 0 auto;
      width: 100%;
      .generalSidebarWeaponText {
        font-size: 1em;
        text-align: center;
      }

      .weaponLinkSidebar {
        width: 9rem;
        max-width: 100%;
        margin: 0.5rem;
        text-decoration: none;
        display: flex;
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);

        .weaponImageSidebar {
          display: block;
          //Gets rid of the tiny gap on he bottom between a div and the image inside it
          width: 100%;
          border-radius: 0.3rem;
        }
      }
    }

    .Weapon {
      display: flex;
      flex-direction: column;

      .weaponNameWithImage {
        display: flex;
        flex-direction: column;
        margin: 0 0 1rem 0;

        .weaponName {
          font-size: 3rem;
          // margin: 0 0 -0.5rem 0;
          margin: 2rem 0 0 0;
          text-align: center;
          font-family: "Permanent Marker", cursive;
          text-shadow: 0px 0px 0.3rem rgba(255, 255, 255, 1);
        }
        .weaponImage {
          user-select: none;
          width: 100%;
        }
      }
      .weaponStats {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.5);
        align-self: center;
        // padding: 10px;
        width: 100%;
        border-radius: 0.5rem;

        .weaponStat {
          font-size: 1rem;
          padding: 1rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);

          &.penetration {
            padding: 0;

            .weaponStatTitle {
              margin: 1rem 0 1rem 1rem;
            }

            .weaponStatContent {
              padding: 1rem;
              background-color: rgba(0, 0, 0, 1);
            }
          }

          .weaponStatTitle {
            margin: 0;
            font-weight: bold;
          }
          .weaponStatContent {
            margin: 0;
            // text-align: end;
            // width: ;
            margin: 0 0 0 2rem;
          }
        }
        .weaponStat:last-child {
          border-bottom: none;
        }

        .weaponStat.cost {
          display: flex;
          flex-direction: row;
          .weaponStatCost {
            font-size: 1rem;
            margin: 0;
            font-weight: bold;
          }

          .creditsIcon {
            user-select: none;
            width: 0.7rem;
            margin: 0 0.5rem 0 auto;
          }

          .weaponStatCostContent {
            font-size: 1em;
            margin: 0;
            line-height: 1rem;
          }
        }

        .weaponStatDamage {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1rem;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);

          .weaponStatDamageTitle {
            font-size: 1em;
            margin: 0;
            font-weight: bold;
            margin: 0 0 0.5rem 0;
          }

          .weaponStatDamageContent {
            user-select: none;
            display: flex;
            flex-direction: column;
            background-color: rgba(255, 255, 255, 0.15);

            .rangeContentHolder {
              display: flex;
              padding: 0.5rem;
              justify-content: space-between;

              .rangeTitle {
                margin: 0;
                font-size: 1rem;
                align-self: center;
              }
              .rangeContent {
                display: flex;
                flex-direction: row;

                .rangeContentPart {
                  display: flex;
                  flex-direction: row;
                  // margin: 0 0 0 1em;
                  // justify-content: center;
                  // justify-content: flex-start;
                  align-items: center;
                  justify-content: space-around;
                  width: 3rem;

                  .rangeContentText {
                    margin: 0;
                  }
                  .headDamageIcon {
                    width: 0.5rem;
                    // height: 10px;
                    // margin: 0 5px 0 0;
                  }
                  .bodyDamageIcon {
                    width: 0.5rem;
                    // height: 10px;
                    // margin: 0 5px 0 0;
                  }
                  .legsDamageIcon {
                    width: 0.5rem;
                    // height: 10px;
                    // margin: 0 5px 0 0;
                  }
                }
              }
            }
          }
          .weaponStatDamageContent.knife {
            // margin: 0 0 0 5px;
            .positionContentHolder {
              display: flex;
              flex-direction: row;
              padding: 0.5rem;
              // padding: 1rem;
              // width: 100%;
              // border: 1px solid rgb(0, 0, 0);
              // padding: 0.5em;
              // align-items: center;

              .positionTitle {
                // text-decoration: none;
                margin: 0 auto 0 0;
                // width: 70px;
                font-size: 1rem;
              }
              .positionContentValue {
                display: flex;
                flex-direction: row;
                width: 3rem;
                justify-content: space-around;

                .knifeFrontIcon {
                  width: 0.5rem;
                  transform: rotate(180deg);
                  // margin: 0 5px 0 0;
                }
                .knifeBackIcon {
                  width: 0.5rem;
                  // margin: 0 5px 0 0;
                }
                .positionContent {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .Guides {
    background-color: #33ff33;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    flex: 1;

    .GeneralSidebar.Guides {
      display: flex;
      flex-direction: column;
      padding: 0;

      .GuideLink {
        font-size: 1rem;
      }
      .GuideLinkContent {
        text-decoration: none;
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
        padding: 1rem;
        color: rgb(0, 0, 0);
        width: 100%;
      }
    }

    .Guide {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      flex: 10;

      .guideNameWithImage {
        display: flex;
        flex-direction: column;

        .guideName {
          font-size: 2rem;
          margin: 0 0 1rem 0;
          text-align: center;
        }

        .guideImage {
          user-select: none;
          align-self: center;
          width: 100%;
          max-width: 300px;
          margin: 0 0 1rem 0;
          // max-height: 100%;
        }
      }

      .guideContentHolder {
        display: flex;
        flex-direction: column;

        .guideContentText {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }

  footer {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  //For Laptop

  .App {
    .SearchPopup {
      .SearchPopupContent {
        margin: auto 0 auto 0;
      }
    }
    .Agents {
      flex: 1;
      flex-direction: row;

      .GeneralSidebar.Agents {
        flex-direction: column;
        height: 40rem;
        flex-wrap: wrap;
        flex: 1;
        // align-self: center;
        .agentLinkSidebar {
          width: 7rem;
          height: auto;
        }
      }
      .Agent {
        align-self: flex-end;
        flex: 1.5;
        .agentNameWithImage {
          .AgentImage {
            // width: 20rem;
            // margin-bottom: -10rem;
          }
        }
      }
    }

    .Weapons {
      flex: 1;
      flex-direction: row;

      .GeneralSidebar.Weapons {
        flex-direction: column;
        height: 50rem;
        flex-wrap: wrap;
        flex: 1;
        // align-self: center;
        width: 100%;
        align-content: flex-start;
        .weaponLinkSidebar {
          width: 40%;
        }
      }
      .Weapon {
        justify-content: space-between;
        // align-self: flex-end;
        flex: 1.5;
        .weaponNameWithImage {
          .WeaponImage {
            // margin-bottom: -10rem;
          }
        }
      }
    }

    .Guides {
      flex-direction: row;

      .GeneralSidebar.Guides {
        flex: 1;
      }
      .Guide {
        flex: 2;
      }
    }

    footer {
      display: flex;
      height: 5rem;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  }
}
@media only screen and (min-width: 1440px) {
  //For Desktop

  .App {
    .Agents {
      .GeneralSidebar.Agents {
        height: 60rem;
        .agentLinkSidebar {
          width: 10rem;
          height: auto;
        }
      }
    }

    .Weapons {
      .GeneralSidebar.Weapons {
        flex: 2;
        .weaponLinkSidebar {
          width: 18rem;
        }
      }
      .Weapon {
        flex: 1;
      }
    }
  }
}
